
@using EncuestasV2.Models;
@model List<encuesta_empresaCLS>
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "ListarEmpresa";
}
<style>
    html {
        font-family: verdana;
        font-size: 10pt;
        line-height: 25px;
    }

    table {
        border-collapse: collapse;
        width: 1398px;
        overflow-x: scroll;
        display: block;
    }

    thead {
        background-color: #EFEFEF;
    }

    thead,
    tbody {
        display: block;
    }

    tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 300px;
    }

    td,
    th {
        min-width: 100px;
        height: 25px;
        border: dashed 1px lightblue;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
</style>

<script>
    $('table').on('scroll', function () {
        $("table > *").width($("table").width() + $("table").scrollLeft());
    });
</script>
<div id="contenedor">
    <div style="height:500px;overflow:auto;margin-left:10px;">
        <br />
        <h2>Lista de Empresas</h2>
        @using (Html.BeginForm("ListarEmpresa", "Admin", FormMethod.Post))
        {

            <a href="@Url.Action("CatalogoEmpresa", "Admin")" class="btn btn-primary"><i class="fas fa-plus-circle"></i><span></span><b> Agregar</b></a>
            @*@Html.ActionLink("Agregar", "CatalogoEmpresa", "Admin", new { area = "" }, new { @class = "btn btn-primary my-2 my-sm-0" })<span></span>*@
            <a href="@Url.Action("GenerarPdfEmpresas", "Pdf")" class="btn btn-danger" target="_blank"><i class="fas fa-file-pdf"></i><span></span><b> Generar PDF</b></a>
            @*@Html.ActionLink("Generar PDF", "GenerarPDF", "Admin", new { area = "" }, new { @class = "btn btn-primary my-2 my-sm-0", @target = "_blank" })<span></span>*@
            <a href="@Url.Action("generarExcelEmpresas", "Excel")" class="btn btn-success" target="_blank"><i class="fas fa-file-excel"></i><span></span><b> Generar Excel</b></a>
            @*@Html.ActionLink("Generar Excel", "generarExcelByte", "Admin", new { area = "" }, new { @class = "btn btn-success my-2 my-sm-0 fas fa-file-excel", @target = "_blank" })*@
            @Html.ActionLink("Regresar a Menu", "Index", "Admin", new { @class = "btn btn-primary my-2 my-sm-0 " })
            <br />
            <i class="fas fa-search"></i>
            <b><label>Buscar empresa</label></b>
            <div class="row ml-1">
                @Html.TextBox("emp_descrip", null, new { @class = "form-control" })
                <button type="submit" class="btn btn-success">Consultar</button>
            </div>

            <br />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <table>
                <thead>
                    <tr>
                        <th><label>Acciones</label></th>
                        <th><label>Id</label></th>
                        <th><label>Empresa</label></th>
                        <th><label>Estatus</label></th>
                        <th><label>Usuario Alta</label></th>
                        <th><label>Fecha Alta</label></th>
                        <th><label>Usuario cancela</label></th>
                        <th><label>Fecha cancela</label></th>
                        <th><label>Empleados</label></th>
                        <th><label>Dirección</label></th>
                        <th><label>Telefono</label></th>
                        <th><label>Contacto</label></th>
                        <th><label>Correo</label></th>
                        <th><label>C.P</label></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("EditarEmpresa", "Admin",new { id = item.emp_id })" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a href="@Url.Action("EliminarEmpresa", "Admin",new { id = item.emp_id })" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                            <td>@item.emp_id</td>
                            <td>@item.emp_descrip</td>
                            <td>@item.emp_estatus</td>
                            <td>@item.emp_u_alta</td>
                            <td>@item.emp_f_alta</td>
                            <td>@item.emp_u_cancela</td>
                            <td>@item.emp_f_cancela</td>
                            <td>@item.emp_no_trabajadores</td>
                            <td>@item.emp_direccion</td>
                            <td>@item.emp_telefono</td>
                            <td>@item.emp_person_contac</td>
                            <td>@item.emp_correo</td>
                            <td>@item.emp_cp</td>

                        </tr>

                    }
                </tbody>

            </table>


        }

    
    </div>
       
</div>
