
@{
    ViewBag.Title = "VerAtencionMedica";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int x = 0;
}
    <script>

        function VerReporte() {

             window.open('@Url.Action("PDFAtencionMedica", "Pdf",new { ids_usuarios = @ViewBag.ids })');


         }

    </script>
<input type="hidden" id="ids_usuarios" name="id_usuario" value=@ViewBag.ids />
<h2>VerAtencionMedica</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Resultado (Suma de SI)</th>
            <th>Sección</th>
            <th>Acción</th>
        </tr>
    </thead>
    @foreach (var elemento in Model)
    {

<tr>
    <td>@elemento.usua_nombre</td>
    <td>@elemento.resu_resultado</td>
    <td>@elemento.resu_seccion</td>
    @if (elemento.resu_seccion_id == 1)
    {
        if (elemento.resu_resultado > 0)
        {
            <td><strong>El trabajador <u>REQUIERE</u> atención clínica </strong></td>
        }
        else
        {
            <td><strong>El trabajador no requiere atención clínica </strong></td>
        }
    }

    @if (elemento.resu_seccion_id == 2)
    {
        if (elemento.resu_resultado > 0)
        {
            <td><strong>El trabajador <u>REQUIERE</u> atención clínica </strong></td>
        }
        else
        {
            <td><strong>El trabajador no requiere atención clínica </strong></td>
        }
    }

    @if (elemento.resu_seccion_id == 3)
    {
        if (elemento.resu_resultado > 2)
        {
            <td><strong>El trabajador <u>REQUIERE</u> atención clínica </strong></td>
        }
        else
        {
            <td><strong>El trabajador no requiere atención clínica </strong></td>
        }
    }

    @if (elemento.resu_seccion_id == 4)
    {
        if (elemento.resu_resultado > 1)
        {
            <td><strong>El trabajador <u>REQUIERE</u> atención clínica </strong></td>
        }
        else
        {
            <td><strong>El trabajador no requiere atención clínica </strong></td>
        }
    }

</tr>
    }
</table>

<div>
    @Html.ActionLink("Regresar al Menu", "ListarEncuesta", "Admin", new { @class = "btn btn-primary my-2 my-sm-0" })
    @Html.ActionLink("Exportar a excel", "AtencionMedica", "Excel", new { ids_usuarios = @ViewBag.ids }, new { @class = "btn btn-success my-2 my-sm-0" })
    <button onclick="VerReporte()" class="btn btn-danger my-2 my-sm-0">Exportar a PDF</button>


</div>